// color, font sizes, etc.

//color
$primary-color: #007bff;
$secondary-color: #6c757d;
$dark-bg: #343a40;
$dark-text: #f8f9fa;
$light-bg: #f8f9fa;
$light-text: #343a40;

// font
$font-family-base: 'Roboto', sans-serif;

// dark mode
$dark-mode-bg: $dark-bg;
$dark-mode-text: $dark-text;

// light mode
$light-mode-bg: $light-bg;
$light-mode-text: $light-text;
